html,
body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
    color: #2e3d49;
    font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
  font-family: 'Fjalla One';
}

h3 {
  margin: 0px;
}

p {
  line-height: 1.5;
}



/*
 * header
 *
 */

.header {
  position: relative;
  background-color: #0032a0;
  text-align: center;
  padding: 10px;
  margin-bottom: 7px;
  min-height: 55px;
  box-shadow: 0px 7px 5px rgba(123, 120, 255, 0.50);
  z-index: 2;
}

.header > i, h1 {
  font-size: 18px;
  position: relative;
  color: #edf3ff;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.26);
  margin-top: 12px;
  margin-bottom: auto;
  display: inline-block;
}

.header > i {
  cursor: pointer;
}

.header-menu {
  height: 24px;
  width: 24px;
  float: left;
  margin-left: 10px;
}

#map {
  top: 75px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
  z-index: 1;
}

/*
 * Dialog
 *
 */

.dialog {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 3;
}

.dialog-box {
  position: absolute;
  max-width: 270px;
  width: 100%;
  margin: 0 auto;
  z-index: 3;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  background-color: white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.35);
}

.dialog-box > p {
  text-align: center;
}

/*
 * Aside
 *
 */

.aside {
  position: relative;
  z-index: 2;
  background-color: white;
  width: 95%;
  max-width: 320px;
  padding: 5px;
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.35);
}

/* Navigation */

.nav-bar {
  display: inline-flex;
  width: 320px;
  height: 47px;
  background-color: #a1a1a1;
  margin-bottom: 5px;
}

.nav-button {
  flex-grow: 1;
  height: 26px;
  padding: 10px;
  fill: #dbdbdb;
}

.nav-button:hover {
  cursor: pointer;
  fill: white;
  background-color: #414141;
}

/* Date area */

.date > h3, select {
  display: inline-block;
  height: 34px;
  margin-bottom: 5px;
  width: 24%;
}

/* Search area */

.search {
  height: 34px;
  vertical-align: middle;
  margin-bottom: 5px;
}

.search-text {
  width: 65%;
  margin-right: 5px;
}

.search-button {
  width: 25%;
}

/* Info area */

.info > h3, span {
  display: inline-block;
}

.crime-list {
  height: 110px;
  margin-top: 5px;
  overflow: hidden;
  overflow-y: scroll;
}

.crime-list > li {
  cursor: pointer;
}

/* Neighborhood list */

.nh-list {
  height: 30px;
  margin-top: 5px;
  overflow: hidden;
  overflow-y: scroll;
}

.nh-list > li {
  cursor: pointer;
}

/* Info Window */

.open {
  color: #001ba3;
}

.closed {
  color: #de0000;
}

.window-sub {
  margin: 10px 0px 10px;
}

.window-text {
  margin: 5px 0px 5px;
}