<!DOCTYPE html>
<html lang="eng-GB">
<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title || 'Webpack App' %></title>
  <!-- Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Udacity Neighborhood Map">
  <meta name="author" content="Christopher Berdahl">
  <!-- Styles -->
  <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans+Condensed:300" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  <!-- Java scripts -->
  <script src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
</head>
<body>
  <header class="header">
    <i id="side-bar-toggle" class="fas fa-bars header-menu" data-bind="click: toggleSidebar"></i>
    <h1>Police Neighborhood Map</h1>
  </header>
  <main>
    <section class="dialog" data-bind="visible: showDialog">
      <div class="dialog-box">
        <p>The police data is loading. Please wait.</p>
      </div>
    </section>
    <aside class="aside" data-bind="visible: showSidebar">
      <nav class="nav-bar">
        <div class="nav-button" data-bind="click: toggleDate, css: {'nav-button-selected': showDate() == true}">
          <img inline src=<%= require("./img/calendar.svg") %> />
        </div>
        <div class="nav-button" data-bind="click: toggleSearch, css: {'nav-button-selected': showSearch() == true}">
          <img inline src=<%= require("./img/search.svg") %> />
        </div>
        <div class="nav-button" data-bind="click: toggleFilter, css: {'nav-button-selected': showFilter() == true}">
          <img inline src=<%= require("./img/filter.svg") %> />
        </div>
        <div class="nav-button" data-bind="css: {'nav-button-selected': showCrime() == true}">
          <img inline src=<%= require("./img/gun.svg") %> />
        </div>
        <div class="nav-button" data-bind="css: {'nav-button-selected': showList() == true}">
          <img inline src=<%= require("./img/list.svg") %> />
        </div>
        <div class="nav-button" data-bind="click: togglePolice, css: {'nav-button-selected': showPolice() == true}">
          <img inline src=<%= require("./img/police.svg") %> />
        </div>
      </nav>
      <section class="date" data-bind="visible: showDate">
        <h3>Year: </h3>
        <select class="" data-bind="options: allYears, value: policeYear" size="1"></select>
        <h3>Month: </h3>
        <select class="" data-bind="options: allMonths, value: policeMonth" size="1"></select>
        <hr>
      </section>
      <section class="search-section" data-bind="visible: showSearch">
        <form data-bind="submit: zoomToArea">
          <input id="search-text" class="search-text search" type="text" data-bind='value: areaToZoom, valueUpdate: "afterkeydown"' placeholder="Enter an area">
          <button class="search search-button" type="submit"><i class="fa fa-search"></i></button>
        </form>
        <hr>
      </section>
      <section id="info-section">
        <div class="info">
          <h3>Force: </h3>
          <span data-bind="text: currentForce"></span>
          <h3>Neighborhood: </h3>
          <span data-bind="text: currentNeighborhood"></span>
        </div>
        <div class="info">
          <h3>There was a total of: <span data-bind="text:currentTotalCrimes"></span> crimes</h3>
        </div>
        <ul class="crime-list" data-bind="foreach: currentCrimeCategories">
          <li data-bind="text: category + ' ' +  count"></li>
        </ul>
      </section>
      <hr>
      <section id="neighborhood-section">
        <h3>Neighborhoods:</h3>
        <ul class="nh-list" data-bind="foreach: areas">
          <li data-bind="text: force + ' ' + neighbourhood, click:$parent.moveTo"></li>
        </ul>
      </section>
    </aside>
    <div id="map"></div>
  </main>
    <script type="text/javascript">
      function showMapError() {
        alert("Google Maps could not be loaded, " +
          "Check your internet connection.");
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?libraries=places,geometry,drawing&key=AIzaSyCvJYI51Btcpfq7CIj0XwDLh0FZ4dhSfs0&v=3&callback=initApp" onerror="showMapError()"></script>
</body>
</html>